:root {
  --baseLightColor: #80bd01
}

.home {
	& .fixedBall {
	    position: fixed;
	    bottom: 30px;
	    left: 15px;
	    width: 50px;
	    height: 50px;
	    z-index: 10;
	    border-radius: 50%;
	    border: 2px solid var(--baseLightColor);
	    background-color: #fff;
	    background-size: 100%;
	}
	& .home-content {
		background-color: #fff;
	}
	& .home-segment {
		& .am-segment {
			min-height: 40px;
		}
	}
}