.markdown-text {
	& >:first-child {
		margin-top: 0;
	}
	& >:last-child {
		margin-bottom: 1em;
	}
	& p {
		white-space: pre-wrap;
		word-wrap: break-word;
		line-height: 2em;
		margin: 1em 0;
	}
	& img {
		cursor: pointer;
	}
	& a {
		color: #08c;
	}
	& li {
		font-size: 14px;
		line-height: 2em;
	}
}